:root {
  --body-background: rgb(38, 40, 43);

  --pad-color: rgb(50, 56, 61);

  --kick-pad-dark: rgb(35, 167, 255);
  --snare-pad-dark: rgb(255, 113, 137);
  --hihat-pad-dark: rgb(70, 255, 178);

  --play-btn-color: rgb(50, 56, 61);
  --mute-btn-color: rgb(50, 56, 61);
  --mute-btn-active: rgb(182, 182, 182);
  --tempo-slider-color: rgb(88, 88, 88);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  font-family: sans-serif;
  background: var(--body-background);
}
i,
svg {
  pointer-events: none;
}
.mute {
  -webkit-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  background: var(--pad-color);
}

.kick-pad.active {
  background: var(--kick-pad-dark);
}
.snare-pad.active {
  background: var(--snare-pad-dark);
}
.hihat-pad.active {
  background: var(--hihat-pad-dark);
}
.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track {
  width: 70%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4rem; /* to align pads with the play button */
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls h1 {
  color: white;
}
.controls button {
  padding: 1rem;
  border: none;
  color: white;
  background: var(--mute-btn-color);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: var(--play-btn-color);
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
  -webkit-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
}
select {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background: var(--pad-color);
  border: none;
  -webkit-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 63px 0px rgba(0, 0, 0, 0.75);
}

.mute.active {
  background: var(--mute-btn-active);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: var(--tempo-slider-color);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
  color: white;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
